.header {
    width: 100%;
    height: 250px;
}

.header .topbar {
    width: 100%;
    background-color: #27678f;
    height: 29px;
    padding: 6px 0;
    justify-content: center;
    align-items: center;
}

.header .topbar p{
    color: azure;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

.header .header-middle {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 330px;
}

.header .header-middle .search {
    display: flex;
    width: 100%;
    padding: 0 100px;
}

.header .header-middle .user{
    display: flex;
}
.header .header-middle .user button{
    height: 42px;
    border: none;
    background-color: #F2EBE9 ;
}
.header .header-middle .user button:hover {
    cursor: pointer;
    border-radius:5px ;
    color: #ececec;
    background-color: #27678f;
}
.header .header-middle .search .icon-search {
    padding: 2px 10px;
    width: 50px;
   
    background-color: #434343;
    border-radius: 0px 8px 8px 0px;
}
.header .header-middle .search .icon-search:hover {
    cursor: pointer;
}
.header .header-middle .search .icon-search i{
    color: white;
    font-size: 31px;
}

.header .header-middle .input-search {
    outline: none;
    border: 1px solid #ececec;
    height: 42px;
    width: 100%;
    padding: 0 20px;
}

.header .navigation {
    padding: 0 320px;
}
.header .navigation ul {
    display: flex;
}

.header .navigation ul li{
    margin: 0 10px;
    list-style: none;

}

.header .navigation ul li a{
    text-decoration: none;
}


@media screen and (min-width:1023px) and (max-width: 1365px) {
    .header .topbar p {
        font-size: 12px;
    }
    .header .header-middle {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 100px;
    }
    .header .navigation {
        padding: 0 90px;
    }
}

@media screen and (min-width:389px) and (max-width: 883px) {
    .header .topbar {
        height: 50px;
        justify-content: center;
        align-items: center;
        line-height: 19px;
    }
    .header .topbar p {
        font-size: 12px;
    }
    .header .header-middle {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    .header .navigation {
        padding: 0 20px;
    }

}